@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.brand-logo, h2{
  font-family: 'Grand Hotel', cursive;
}

.auth-card{
  padding:20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 30px;
}
.collection-item{
  width: 100%;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.input-filed{
  margin: 10px auto;
  max-width: "500px";
  padding: 20px;
  text-align: center;
}
#toast-container{
  top:30px !important;
  right:20px !important;
  left: auto !important;

}
.material-icons:hover{
  cursor: pointer;
}